aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiohttp-retry==2.9.1
aiosignal==1.4.0
alembic==1.13.1
altair==5.5.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
asgiref==3.5.0
async-timeout==4.0.3
attrs==26.1.0
Automat==20.2.0
Babel==2.8.0
backoff==2.2.1
bcrypt==4.1.2
beautifulsoup4==4.14.3
blinker==1.9.0
build==1.3.0
cachetools==5.5.2
certifi==2026.2.25
cffi==2.0.0
chardet==4.0.0
charset-normalizer==3.4.6
chroma-hnswlib==0.7.3
click==8.3.2

colorama==0.4.4
coloredlogs==15.0.1
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cryptography==46.0.6
cuda-bindings==13.2.0
cuda-pathfinder==1.5.0
cuda-toolkit==13.0.2
dataclasses-json==0.6.7
datasets==4.8.4
dbus-python==1.2.18
deep-translator==1.11.4
Deprecated==1.3.1
deprecation==2.1.0
dill==0.4.1
diskcache==5.6.3
distro==1.7.0
distro-info==1.1+ubuntu0.2
durationpy==0.10
ecdsa==0.19.2
exceptiongroup==1.3.1
faiss-cpu==1.13.2
fastapi==0.115.0
filelock==3.25.2
filetype==1.2.0
flatbuffers==25.12.19
frozenlist==1.8.0
fsspec==2026.2.0
gitdb==4.0.12
GitPython==3.1.46
google-ai-generativelanguage==0.6.15
google-api-core==2.30.0
google-api-python-client==2.193.0
google-auth==2.49.1
google-auth-httplib2==0.3.0
google-genai==1.69.0
google-generativeai==0.8.6
googleapis-common-protos==1.73.1
gotrue==2.11.4
greenlet==3.3.2
grpcio==1.80.0
grpcio-status==1.71.2
h11==0.16.0
h2==4.3.0
hf-xet==1.4.2
hpack==4.1.0
httpcore==1.0.9
httplib2==0.20.2
httptools==0.7.1
httpx==0.28.1
httpx-sse==0.4.3
huggingface_hub==0.36.2
humanfriendly==10.0
hyperframe==6.1.0
hyperlink==21.0.0
idna==3.3
importlib_metadata==8.4.0
importlib_resources==6.5.2
incremental==21.3.0
iniconfig==2.3.0
jeepney==0.7.1
Jinja2==3.0.3
jiter==0.13.0
joblib==1.5.3
json_repair==0.58.7
jsonpatch==1.33
jsonpointer==2.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
keyring==23.5.0
kubernetes==35.0.0
langchain==0.1.13
langchain-classic==1.0.3
langchain-community==0.0.29
langchain-core==1.2.31
langchain-google-genai==4.2.2
langchain-huggingface==1.2.1
langchain-openai==0.1.1
langchain-pinecone==0.1.0
langchain-text-splitters==0.2.4
langgraph==1.1.6
langgraph-checkpoint==4.0.1
langgraph-prebuilt==1.0.9
langgraph-sdk==0.3.13
langsmith==0.7.32
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
llama_cpp_python==0.3.20
lxml==6.0.4
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==2.0.1
marshmallow==3.26.2
mdurl==0.1.2
mmh3==5.2.1
more-itertools==8.10.0
mpmath==1.3.0
multidict==6.7.1
multiprocess==0.70.19
mypy_extensions==1.1.0
narwhals==2.19.0
netifaces==0.11.0
networkx==3.4.2
nltk==3.9.4
numpy==1.26.4
nvidia-cublas==13.1.0.3
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti==13.0.85
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc==13.0.88
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime==13.0.96
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cudnn-cu13==9.19.0.56
nvidia-cufft==12.0.0.61
nvidia-cufft-cu12==11.0.2.54
nvidia-cufile==1.15.1.6
nvidia-curand==10.4.0.35
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver==12.0.4.66
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse==12.6.3.3
nvidia-cusparse-cu12==12.1.0.106
nvidia-cusparselt-cu13==0.8.0
nvidia-nccl-cu12==2.19.3
nvidia-nccl-cu13==2.28.9
nvidia-nvjitlink==13.0.88
nvidia-nvjitlink-cu12==12.9.86
nvidia-nvshmem-cu13==3.4.5
nvidia-nvtx==13.0.85
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.0
onnxruntime==1.23.2
openai==1.109.1
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
orjson==3.11.8
ormsgpack==1.12.2
overrides==7.7.0
packaging==24.2
pandas==2.3.3
passlib==1.7.4
pdf2image==1.17.0
pdfminer.six==20231228
pdfplumber==0.11.4
pillow==10.4.0
pinecone==7.3.0
pinecone-client==3.2.2
pinecone-plugin-assistant==1.8.0
pinecone-plugin-interface==0.0.7
pluggy==1.6.0
postgrest==0.16.11
posthog==7.10.3
propcache==0.4.1
proto-plus==1.27.2
protobuf==4.25.9
psycopg2-binary==2.9.9
pulsar-client==3.10.0
pyarrow==23.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.1
pybase64==1.4.3
pycparser==3.0
pycurl==7.44.1
pydantic==2.13.1
pydantic-settings==2.13.1
pydantic_core==2.46.1
pydeck==0.9.1
Pygments==2.20.0
PyGObject==3.42.1
PyHamcrest==2.0.2
pyiceberg==0.11.1
PyJWT==2.9.0
PyMuPDF==1.27.2.2
pyOpenSSL==21.0.0
pyparsing==3.3.2
pypdf==4.1.0
PyPDF2==3.0.1
pypdfium2==5.7.0
PyPika==0.51.1
pyproject_hooks==1.2.0
pyroaring==1.0.4
pyrsistent==0.18.1
pyserial==3.5
pytest==9.0.3
pythainlp==4.0.2
python-apt==2.4.0+ubuntu4.1
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-jose==3.3.0
python-multipart==0.0.9
pytz==2022.1
PyYAML==6.0.1
rank-bm25==0.2.2
realtime==1.0.6
referencing==0.37.0
regex==2026.2.28
requests==2.33.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.9.4
rpds-py==0.30.0
rsa==4.9.1
safetensors==0.7.0
scikit-learn==1.7.2
scipy==1.15.3
SecretStorage==3.3.1
sentence-transformers==5.4.0
sentencepiece==0.2.1
service-identity==18.1.0
shellingham==1.5.4
simsimd==6.5.16
six==1.16.0
smmap==5.0.3
sniffio==1.3.1
soupsieve==2.8.3
SQLAlchemy==2.0.25
starlette==0.38.6
storage3==0.7.7
streamlit==1.32.0
StrEnum==0.4.15
strictyaml==1.7.3
supabase==2.6.0
supabase-auth==2.28.3
supabase-functions==2.28.3
supafunc==0.5.1
sympy==1.13.1
systemd-python==234
tenacity==8.5.0
threadpoolctl==3.6.0
tiktoken==0.12.0
tokenizers==0.22.2
toml==0.10.2
tomli==2.4.1
torch==2.6.0+cpu
tornado==6.5.5
tqdm==4.67.3
transformers==4.57.6
triton==3.6.0
Twisted==22.1.0
typer==0.24.1
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.1
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
Unidecode==1.3.8
uritemplate==4.2.0
urllib3==1.26.5
uuid_utils==0.14.1
uvicorn==0.30.6
uvloop==0.22.1
wadllib==1.3.6
watchdog==6.0.0
watchfiles==1.1.1
websocket-client==1.9.0
websockets==16.0
wrapt==1.17.3
wsproto==1.0.0
xxhash==3.6.0
yarl==1.23.0
zipp==1.0.0
zope.interface==5.4.0
zstandard==0.25.0
